//* Products General Page *//

//* Tittle refference for every product page *//

.main-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: $xlarge;
    color: black;
    font-style: normal;
    font-weight: 550;
    h1, h3, span {
        text-align: center;
        padding: $xlarge;
        font-weight: lighter;
        font-size: $large;
    }
    @media only screen and (max-width: 1200px) {
        color: black;
        padding: 5px;
        font-style: normal;
        font-weight: lighter;
        h1, h3, span {
            padding: 5px;
            font-size: $medium;
        }   
    }
}

//* Indication Only For Mobile *// 

.display-info{
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 350;
    font-size: $large;
    color: grey;
    @media only screen and (max-width: 1200px) {
        font-size: $small;
    }
}

//* Products Containers *//

#productTitle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin: auto;
    @media only screen and (max-width: 1200px) { 
        width: auto;
        margin: auto;
    }
}
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 450px;
    margin:10px;
    box-shadow: 0 0 20px grey;
    border-radius: 8px;
    color: black;
    img {
        width: 100%;
        height: 300px;
    }
    h6 {
        color: #ff8c00;
    }
    p {
        color: grey;
    margin-bottom: 5px;
        font-size: $small;
        padding: 0px, 10px, 5px, 10px;
    }
    @media only screen and (max-width: 1200px) {
        width:250px;
        margin:5px;
        img {
            width: 250px;
            height: 250px;
        } 
    }
}
.product-card-detail{
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 400px;
    height: 820px;
    margin:10px;
    padding: 10px;
    box-shadow: 0 0 15px rgb(87, 87, 87);
    border-radius: 15px;
    color: black;
    img {
        width: 100%;
        height: 400px;
    }
       p {
        color: grey;
    margin: 10px 0px 10px 0px;
        font-size: $small;
        padding: 0px, 10px, 5px, 10px;
    }
}
.counter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    button {
        justify-content: center;
        height: 30px;
        width: 30px;
        border: 1px solid black;
        border: 2px solid rgb(180, 179, 179);
        border-radius: 50%;
        background-color: rgb(220, 220, 220);
    }
    h5 {
        margin: 0px 10px 0px 10px;
    }
}

//* Product Info *//

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: lighter;
    margin-bottom: 10px;
    padding: 10px;
    color: black;

@media only screen and (max-width: 1200px)
    {
        font-size: $small;
    }
}
.infoPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.add {
    @extend %buttons;
    margin-top: 10px;
    font-size: $medium;
    border: 1px solid grey;
    background-color: #ff8c00;
    transition: all 200ms ease-in-out;
    &:hover {
        color: whitesmoke;
        background-color:forestgreen;
        cursor: pointer;
        transform: scale (1.5) ease-in-out;
        transform: translateY(-3px);
        transition: all 0.3s ease-in-out;
    }
}