//* Products General Page *//

//* Tittle refference for every product page *//

.main-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: $xlarge;
    color: black;
    font-style: normal;
    font-weight: 550;
    h1, h3, span {
        text-align: center;
        padding: $xlarge;
        font-weight: lighter;
        font-size: $large;
    }
    @media only screen and (max-width: 1200px) {
        color: black;
        padding: 5px;
        font-style: normal;
        font-weight: lighter;
        h1, h3, span {
            padding: 5px;
            font-size: $medium;
        }   
    }
}

//* Indication Only For Mobile *// 

.display-info{
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 350;
    font-size: $large;
    color: grey;
    @media only screen and (max-width: 1200px) {
        font-size: $small;
    }
}

//* Products Containers *//

#productTitle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin: auto;
    @media only screen and (max-width: 1200px) { 
        width: auto;
        margin: auto;
    }
}
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 350px;
    margin:30px 30px 50px 30px;
    border-radius: 5px;
    color: black;
    img {
        width: 80%;
        height: 200px;
        &:hover {
            position: relative;
            transform: scale(1.2);
            transition: all 400ms ease-in-out;
        }
    }
    h5 {
        margin-top: 10px;
    }
    h6 {
        color: #ff8c00;
    }
    p {
        color: grey;
    margin-bottom: 5px;
        font-size: $small;
        padding: 0px, 10px, 5px, 10px;
    }
    @media only screen and (max-width: 1200px) {
        width:250px;
        margin:5px;
        img {
            width: 150px;
            height: 150px;
        } 
    }
}
.product-card-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 5px;
    box-shadow: 5px 5px 15px rgb(136, 136, 136);
    border-radius: 5px;
    color: black;
    img {
        width: 100%;
        height: 400px;
    }
    h5 {
        margin-bottom: 0px;
    }
    h6 {
        margin: 10px 0px 0px 0px;
    }
       p {
        color: grey;
    margin: 5px 0px 5px 0px;
        font-size: $small;
        padding: 0px, 10px, 5px, 10px;
    }
    button {
        margin-top: 5px;
    }
}
.backButtonsContain, .backButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    margin: 0px 5px 0px 5px;
    font-weight: 600;
}
.info-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 70px 0px 70px;
    width: 60%;
}
.counter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    button {
        justify-content: center;
        height: 30px;
        width: 30px;
        border: 1px solid black;
        border: 2px solid rgb(180, 179, 179);
        border-radius: 50%;
        background-color: rgb(220, 220, 220);
    }
    h5 {
        margin: 7px 10px 0px 10px;
    }
}
.add-container {
    display: flex;
}

//* Product Info *//

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: lighter;
    margin-bottom: 10px;
    padding: 10px;
    color: black;

@media only screen and (max-width: 1200px)
    {
        font-size: $small;
    }
}
.infoPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.addMore {
    @extend %buttons;
    text-decoration: none;
    color: whitesmoke;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 120px;
    height: 47px;
    border: 1px solid grey;
    background-color: forestgreen;
}
.addTo {
    @extend %buttons;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 120px;
    height: 23px;
    color: whitesmoke;
    border: 1px solid grey;
    background-color: #ff0000;
}
#addToCart {
    @extend %buttons;
    border: 1px solid grey;
    background-color: #ffdd00;
    
}
#buy-now {
    text-decoration: none;
    @extend %buttons;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 1px solid grey;
    background-color: #ff8c00;
    transition: all 200ms ease-in-out;
    &:hover {
        color: whitesmoke;
        background-color:forestgreen;
        cursor: pointer;
        transform: scale (1.5) ease-in-out;
        transform: translateY(-3px);
        transition: all 0.3s ease-in-out;
    }
    
}
.buy-now {
    text-decoration: none;
    color: black;
}
.error {
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
}
